.header {
    text-align: center;
}
.header img {
    margin-top: 10px;
    width: 25%;
    }

    .header nav {
        background-color: black;
        line-height: 50px;
    }

    .header nav a {
        text-decoration: none;
        margin-right: 20px;
        color: white;
        font-size: 20px;
        padding: 10px;
    }

    .header nav a:hover {
        background-color: cornflowerblue;
        border-radius: 5px;
        cursor: pointer;
}
.input-field {
    text-align: center;
    background-color: rgb(14, 13, 13)
}

.input-field input {
    line-height: 5px;
    width: 70%;
    padding: 10px;
    border: 1px solid gray;
    border-right: 5px;
    border-radius: 5px;
    margin-bottom: 10px;


}