.header {
    text-align: center;
}
.header img {
    margin-top: 10px;
    width: 25%;
    }

    .header nav {
        background-color: lightgray;
        line-height: 50px;
    }

    .header nav a {
        text-decoration: none;
        margin-right: 20px;
        color: black;
        font-size: 20px;
        padding: 10px;
    }

    .header nav a:hover {
        background-color: cornflowerblue;
        border-radius: 5px;
        cursor: pointer;
}